@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20rem;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
}



#loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 30rem;
  height: 25rem;
  margin-top: 4rem;
  border: 1px solid black;
  border-radius: 1rem;
}

.top-name {
  font-size: 5rem;
}

.main-name {
  font-size: 3rem;
}

input {
  height: 3rem;
  width: 15rem;
  border-radius: 1rem;
  font-size: 1rem;
  padding: 1rem;
  border: 1px solid gray;
}

.login-button {
  height: 3rem;
  width: 15rem;
  font-size: 1rem;
  border-radius: 1rem;
  border: 1px solid gray;
}
