@charset "utf-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {box-sizing: border-box;}

.main {
    display: flex;
    flex-wrap: wrap;
}

header {
    padding: 32px;
    text-align: center;
}

.column {
    flex: 25%;
    max-width: 25%;
    padding: 0 5px;
}

.column img {
    width: 100%;
    margin: 5px 0;
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
    .column {
        flex: 50%;
        max-width: 50%;
    }
}
@media only screen and (max-width: 320px) {
    .column {
        flex: 100%;
        max-width: 100%;
    }
}

/*

@media only screen and (min-width: 720px) {
    header {
        padding: 32px;
        text-align: center;
    }
    
    h1 {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    
    .column {
      justify-content: space-around;
    }
    
    img {
        margin-left:10px;
        width: 350px;
    }
}

@media only screen and (min-width: 320px) and (max-width: 720px) {
    h1 {
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p {
        font-size: 10px;
    }
    
    .column {
      justify-content: space-around;
    }
    
    img {
        margin-left:10px;
        width: 350px;
    }
}

@media only screen and (max-width: 320px) {
    h1 {
        font-size: 10px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    p {
        font-size: 8px;
    }
    
    .column {
      justify-content: space-around;
    }
    
    img {
        margin-left:10px;
        width: 350px;
    }
}
*/


